h1{
   color:blue;
  }


/*  * {
        border: solid;
  }
*/
  .header1{
   background-color: aqua;
   display: flex;
   justify-content: space-evenly;
  }

  .grid{
      display: flex;
      flex-wrap: wrap;
      justify-content:space-evenly
  }
    
  .mail{
    display: flex;
    justify-content:flex-end;
}

h2,p{
    text-align:center;
}